.section--game {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: var(--blue);
  color: var(--white);
  padding-top: 100px;
  padding-bottom: 56px;
  scroll-margin: 0px;

  &.no-padding {
    padding: 0;
  }

  .subtitle {
    max-width: 580px;
    margin-top: 40px;
  }
}

.sea {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.1;
  object-fit: cover;
}

.game-prize-info {
  display: flex;
  position: relative;
  max-width: 560px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 56px;
  margin-top: 42px;

  .info {
    p {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
      text-transform: uppercase;
    }
    .button {
      margin-top: 30px;
    }
  }
}

.italy-full-image {
  position: absolute;
  max-width: 565px;
  right: -20px;
  bottom: -50px;
}

.go-back {
  display: inline-flex;
  position: absolute;
  left: 36px;
  top: 40px;
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 12px;

  span {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font);
    transition: color 0.3s var(--cubic);
  }

  &:before {
    content: '';
    display: block;
    width: 12px;
    height: 20px;
    background: url('../img/svg/go-back.svg') no-repeat center center/cover;
  }

  @media (hover: hover) {
    &:hover {
      span {
        color: var(--bg-blue);
      }
    }
  }
}

.game-timer {
  display: flex;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: var(--red);
  color: var(--white);
  z-index: 2;
  justify-content: center;
  align-items: center;
  align-content: center;

  span {
    font-family: var(--font);
    font-size: 42px;
    font-weight: 700;
  }
}

.game-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  min-height: 100svh;
  z-index: 1;
}

//1280
@media (max-width: 1439px) {
  .section--game {
    padding-top: 150px;
    padding-bottom: 50px;

    .subtitle {
      max-width: 450px;
      margin-top: 20px;
      font-size: 18px;
    }
  }

  .game-prize-info {
    max-width: 450px;
    gap: 40px;
    margin-top: 42px;

    img {
      max-width: 120px;
    }

    .info {
      p {
        font-size: 20px;
      }
      .button {
        margin-top: 30px;
      }
    }
  }

  .italy-full-image {
    max-width: 480px;
    right: auto;
    left: 54%;
    bottom: -40px;
  }

  .game-wrapper {
    padding: 30px;
  }
}

//1024
@media (max-width: 1279px) {
  .section--game {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: calc(100svh - 50px);
    scroll-margin: 50px;
  }
  .italy-full-image {
    max-width: 450px;
    left: 50%;
    bottom: -50px;
  }

  .go-back {
    left: 24px;
    top: 30px;
    gap: 0px;

    span {
      display: none;
    }

    &:before {
      width: 16px;
      height: 30px;
    }
  }

  .game-timer {
    right: 15px;
    top: 15px;
    width: 60px;
    height: 60px;
    span {
      font-size: 30px;
    }
  }

  .popup-game-logo {
    width: 142px;
  }
}

//768
@media (max-width: 1023px) {
  .section--game {
    padding-top: 100px;
    padding-bottom: 40px;
    min-height: 10px;
    .container {
      max-width: 690px;
    }
  }
  .italy-full-image {
    position: relative;
    width: 100%;
    max-width: 375px;
    left: auto;
    bottom: auto;
    margin: 0px auto -50px auto;
  }
  .game-prize-info {
    margin-top: 0px;
  }
}

//375
@media (max-width: 767px) {
  .section--game {
    padding-top: 40px;
    .title,
    .subtitle {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .italy-full-image {
    max-width: 340px;
    margin: 0px auto -60px auto;
  }
  .game-prize-info {
    max-width: 320px;
    gap: 26px;
    margin: 0 auto;
    margin-top: 42px;

    img {
      max-width: 84px;
    }

    .info {
      p {
        font-size: 18px;
      }
      .button {
        margin-top: 16px;
      }
    }
  }
}
