.title {
  display: block;
  width: 100%;
  margin: 0 auto;
  line-height: 1;
  text-align: center;
  &.red {
    color: var(--red);
  }
  &.white {
    color: var(--white);
  }
  &.ta--l {
    text-align: left;
  }
  &.upper {
    text-transform: uppercase;
  }

  &.title--80 {
    font-size: myclamp(40px, 80px, 1440px, 1440px);
  }
}

.subtitle {
  font-size: myclamp(20px, 24px, 1440px, 1440px);
  line-height: 1.3;
  font-weight: 400;
  &.ta--c {
    text-align: center;
  }
}
