:root {
  --font: 'gilroy', sans-serif;
  --title: 'dessert-script', sans-serif;

  --white: #ffffff;
  --grey: #eef2ec;
  --black: #000000;
  --light-blue: #e5f0f8;
  --bg-blue: #9ed1ea;
  --blue-light: #02acf7;
  --blue: #012d68;
  --blue-hover: #0a499e;
  --red: #c10016;
  --red-hover: #d6132a;
  --invalid: #ffe26b;

  --cubic: ease;
}

@import 'mixins';
@import 'reset';
@import 'preloader';
@import 'fonts';
@import 'tiography';
@import 'forms';
@import 'select';
@import 'buttons';
@import 'header';
@import 'swiper';
@import 'accordeon';
@import 'section__hero';
@import 'section__howToWin';
@import 'section__game';
@import 'popup';
@import 'dropzone';
@import 'footer';

//@supports (-webkit-touch-callout: none) {}
